@charset "utf-8";
/* CSS Document */
@media (max-width: 1400px) {
	
	h2 {font-size:2em;}

}

@media (max-width: 1200px) {
	
	h2 {font-size:1.5em;}

	.content-box {
		width: 49%;
		height: 250px;
	}
}

@media (max-width: 1024px) {


	h2 {font-size:1.4em;}

	#main-wrapper
	{
		width: 96%;
		margin: 0;
		padding: 2%;
	}

	#nav
	{
		display: none;
	}

	.content-box {
		width: 98%;
		height: 250px;
	}
	.welcome {
		width: 98%;
		height: auto;
	}
}


@media (max-width: 720px) {


	h2 {font-size:1em;}

}
