
body,html
{
	background: #666;
	font-family: "Source Sans Pro", Arial, Calibri, sans-serif;
	font-weight: 400;
	color:#000;
}

*
{
	margin: 0;
	padding: 0;
	border:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

::selection { color:#FFF; background:#CCC; }

h1 {font-size:5em; font-weight:700;}
h2 {font-size:2em; font-weight:400;}
h3 {font-size:2em; font-weight:600;}

a {
	color: #FFF;
	text-decoration: underline;
  	
  	&:hover { color:#000; }
}

p
{
font-size:1.5em; 
margin-bottom:20px;
color: #FFF;
}

.clear
{
	clear:left;
}
.clear-right
{
	clear:right;
}

#main-wrapper
{
	background: url("../images/bg.jpg") top left no-repeat #FFF;
	/*background: url("../images/bg-paper.jpg") repeat #FFF;*/
	background-color: #FFF;
	/*background-size: 100% auto;*/
	width: 94%;
	margin: 1% auto 1% auto;
	overflow: hidden;
	height: 100%;
	padding: 2%;
}

.blue{
	background: $box-blue;
}

.cyan{
	background: $box-cyan;
}
.green{
	background: $box-green;
}
.red{
	background: $box-red;
}
.orange{
	background: $box-orange;
}
.yellow{
	background: $box-yellow;
}
.purple{
	background: $box-purple;
}
.grey{
	background: #666;
}

.cyan, .blue, .green, .red, .orange, .yellow, .purple{
	@include bg-cover;
}

