#content-wrapper
{
	margin-top: 60px;
	width: 100%;
	@include height-fix;
}

/* CONTENT BOXES */

#content-box-position
{
	margin-left: -1%;
}

.top-msg
{
	width:$full-width;
	@include height-fix;
	float: left;
	margin-bottom:60px;
	font-size: 2em;
	font-weight: 100;
	color: #666;
	line-height: 1;	
	z-index: 10;
}

	.top-msg span
	{
		font-weight: 700;
		font-size: 1.4em;
		color: #333;
	}

.content-box-wrapper
{
	@include height-fix;
	width: $third-width;
	float: left;
	margin-left:1%;
	margin-bottom: 1%;
}

.content-box-wrapper:hover > .content-box
{
	opacity: 0.8;
	filter: alpha(opacity = 80);
	@include hover-shrink-less;
	cursor: pointer;
}

.content-box
{
	width:100%;
	height: 400px;
	overflow:hidden;
	background: #666;
	@include hover-fade-normal;
	z-index: 10;
}

	.content-box h3
	{
		padding: 60px 60px 0px 60px;
		color: white;
	}

	.content-box p
	{
		padding: 20px 60px 60px 60px;
		text-align:left;
		font-weight:100;
	}

	.content-box-img
	{
		@include height-fix;
		top: -30px;
		left:3%;
		position: relative;
	}

	.content-box-img img
	{
		width:94%;
		@include height-fix;
		padding-bottom:5px;
		position: relative;
		top:0;
		left: 0;

		@include border-radius;
	}

.static:hover{
	opacity:1;
}


#blue{
	background: $box-blue;
}

#cyan{
	background: $box-cyan;
}
#green{
	background: $box-green;
}
#red{
	background: $box-red;
}
#orange{
	background: $box-orange;
}
#yellow{
	background: $box-yellow;
}
#purple{
	background: $box-purple;
}

#cyan, #blue, #green, #red, #orange, #yellow, #purple{
	@include bg-cover;
}
/* CONTENT BOXES END */

.designer
{
	width: $full-width;
	float: left;
	height: 300px;
	font-weight: 100;
	color: #999;
	@include hover-fade-normal;
}
