#content-wrapper
{
	margin-top: 60px;
	width: 100%;
	@include height-fix;
}

/* CONTENT BOXES */

#content-box-position
{
	margin-left: -1%;
}

.content-box-wrapper
{
	@include height-fix;
	width: $third-width;
	float: left;
	margin-left:1%;
	margin-bottom: 1%;
}

.content-box-wrapper:hover > .content-box
{
	opacity: 0.8;
	filter: alpha(opacity = 80);
	@include hover-shrink-less;
	cursor: pointer;
}

.content-box
{
	width:100%;
	height: 400px;
	overflow:hidden;
	@include hover-fade-normal;
	z-index: 10;
	@include text-shadow;
}

	.content-box h3
	{
		padding: 60px 60px 0px 60px;
		color: white;
	}

	.content-box p
	{
		padding: 20px 60px 60px 60px;
		text-align:left;
		font-weight:400;
	}

	.content-box-img
	{
		@include height-fix;
		width: 94%;
		top: -30px;
		left:3%;
		position: relative;
		@include image-shadow;
		@include border-radius;
	}

	.content-box-img img
	{
		width:100%;
		@include height-fix;
		padding-bottom:5px;
		position: relative;
		top:0;
		left: 0;
		@include border-radius;
	}

.static:hover{
	opacity:1;
}

/* CONTENT BOXES END */

.designer
{
	width: $full-width;
	float: left;
	height: 300px;
	font-weight: 100;
	color: #999;
	@include hover-fade-normal;
}
