
/* LAYOUT */

$full-width: 100%;
$half-width: 49%;
$third-width: 32.333%;
$quarter-width: 24.5%;

/* EFFECTS */

$normal: all 0.5s;
$slow: all 1s;
$fast: all 0.2s;

/* COLOURS */

$grey: #CCC;

/* BOX COLOURS */

$box-blue: url("../images/blue-blur.jpg") no-repeat;
$box-green: url("../images/green-blur.jpg") no-repeat;
$box-red: url("../images/red-blur.jpg") no-repeat;
$box-cyan: url("../images/cyan-blur.jpg") no-repeat;
$box-orange: url("../images/orange-blur.jpg") no-repeat;
$box-yellow: url("../images/yellow_blur.jpg") no-repeat;
$box-purple: url("../images/purple-blur.jpg") no-repeat;

