#imagebox-wrapper
{
  width: 100%;
  overflow: hidden;
  height: auto;
}

  .image-container
  {
    float: left;
    height: auto;
    overflow: hidden;
    width: 19%;
    margin: 0 0 1% 1%;
    padding: 2%;
  }

  .imagebox-container-position
  {
    margin-left: -1%;
  }

  .imagebox
  {
    float: left;
    width: 100%;
    padding-bottom: 35%;
    margin: 4% 0 0 0;
    position: relative;
    overflow: hidden;
    @include hover-fade-normal;
    @include border-radius-full;
    @include image-shadow;
  }

  .imagebox:hover
  {
     @include hover-shrink;
     opacity: 0.8;
     filter: alpha(opacity = 80);
  }

  .imagebox img
  {
    position: absolute;
  }
    .imagebox img:hover
    {
     zoom: 1;
    }

 .landscape  
  {
    width: 100%;
  }

  .portrait
  {
    width: 100%;
  }