
/*WORK NAV*/

#work-nav
{
  float:left;
  width: 100%;
  font-size: 1.5em;
}


  #work-nav ul 
  {
    width:100%;
    list-style-type: none;
  }

  #work-nav li
  {
    float: left;
    width:16.666%;
    height:68px;
    padding-top: 40px;  
    background: #666;
    color: #FFF;
    font-weight:600;
    text-align: center;
    @include hover-fade-normal;
  }
  #work-nav li:hover
  {
    color: #000;
    cursor: pointer;
    @include hover-shrink;
  }

/*WORK NAV END*/


#detail-view
{
  display: block;
}

  .work-box
  {
    width: 92%;
    float: left;
    @include height-fix;
    padding:4%;
    margin-bottom: 2%;
  }

    .image-image
    {
      width: 48%;
    }

    .image-image, .image-title
    {
      float:left;
    }

    .image-title
    {
      width: 100%;
      @include text-shadow;
    }

      .image-title h3
      {
        font-size: 3em;
        color: white;
        text-transform: uppercase;
        margin: 0 0 2% 0;
      }

    .image-description
    {
      width:48%;
      float: right;
    }

      .image-image img
      {
        width: 100%;
        height: auto;
        @include image-shadow;
        @include border-radius-full;
      }

      .image-description p, .image-description ul
      {
        font-size: 1.5em;
        color: #FFF;
        font-weight: 400;
        @include text-shadow;
      }

      .image-description ul
      {
        list-style-type: none;
        padding:0;
        margin:0;
        width: 100%;
      }

      .image-description li
      {
        float: left;
        color: white;
        background: #666;
        padding: 5px;
        @include text-shadow-none;
      }
