/*
.hover-btn
{
	width: 100%;
	height: 100%;
	position: relative;
	background: url("../images/arrow.png") no-repeat center #666;
	/*background: #666;*/
/*	display: none;
}
.hover-btn:hover
{
	background: url("../images/arrow-hover.png") no-repeat center #666;
	@include hover-fade-slow
}*/

	/*.content-box:hover > .hover-btn
	{
		display: block;
	}*/
